.advantages-header {
  margin: 0;
  padding: 0;
}

.advantages-header .section-title {
  margin: 63px auto 31px;
  max-width: 720px;
}

.advantages-header .section-description {
  line-height: 36px;
  max-width: 720px;
  margin: 0 auto 80px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  grid-column: span 3;
}

.advantages-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: span 3;
}

.advantages-pic {
  display: block;
  grid-column: span 2;
}

.advantages-info {
  margin: 0;
  padding: 97px 72px 108px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-info:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-sublist .advantages-info {
  padding-top: 184px;
  padding-bottom: 88px;
  background-repeat: no-repeat;
  background-position: 50% 80px;
}

.advantages-sublist .advantages-info:nth-of-type(2n) {
  background-color: transparent;
}

.advantages-group > .advantages-info {
  padding-bottom: 86px;
  background-color: rgb(131, 179, 211);
  color: #ffffff;
}

.advantages-iconable-house {
  background-image: url("../images/home.svg");
}

.advantages-iconable-meal {
  background-image: url("../images/meal.svg");
}

.advantages-iconable-souvenir {
  background-image: url("../images/gift.svg");
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.advantages-sublist .advantages-title {
  margin: 0 0 20px;
}

.advantages-description {
  margin: 0;
  color: #333333;
}

.advantages-description-alter {
  color: inherit;
}

.advantages-description + .advantages-description {
  margin-top: 30px;
}
