.section-title {
  margin: 0 0 30px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.section-description {
  margin: 0 0 46px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}
