.sorting {
  display: flex;
  padding: 44px 72px 0;
  justify-content: space-between;
  align-items: center;
}

.result-sort {
  display: block;
  width: 18rem;
}

.sorting-title {
  width: 50%;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
